<div class="container">
    <h1 class="title">Nuevo Formato de la Champions League</h1>
  
    <section class="section">
      <h2 class="subtitle">Equipos Clasificados</h2>
      <div class="box">
        <h3 class="has-text-weight-semibold">8 Primeros Equipos (Octavos Directos)</h3>
        <ul>
          <li *ngFor="let team of topTeams">{{ team.name }}</li>
        </ul>
      </div>
  
      <div class="box">
        <h3 class="has-text-weight-semibold">Ronda de 16 (Eliminatorias de Ida y Vuelta)</h3>
        <ul *ngIf="octavosMatches.length > 0">
          <li *ngFor="let match of octavosMatches">
            {{ match.team1.name }} vs {{ match.team2.name }}
          </li>
        </ul>
      </div>
  
      <div class="box">
        <h3 class="has-text-weight-semibold">Cuartos de Final</h3>
        <ul *ngIf="cuartosMatches.length > 0">
          <li *ngFor="let match of cuartosMatches">
            {{ match.team1.name }} vs {{ match.team2.name }}
          </li>
        </ul>
      </div>
  
      <div class="box">
        <h3 class="has-text-weight-semibold">Semifinales</h3>
        <ul *ngIf="semifinalMatches.length > 0">
          <li *ngFor="let match of semifinalMatches">
            {{ match.team1.name }} vs {{ match.team2.name }}
          </li>
        </ul>
      </div>
  
      <div class="box">
        <h3 class="has-text-weight-semibold">Final</h3>
        <p *ngIf="finalMatch">
          {{ finalMatch.team1.name }} vs {{ finalMatch.team2.name }}
        </p>
      </div>
  
      <div class="box">
        <h3 class="has-text-weight-semibold">Equipos Eliminados</h3>
        <ul>
          <li *ngFor="let team of eliminatedTeams">{{ team.name }}</li>
        </ul>
      </div>
    </section>
  </div>