<div class="container">
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Fase de Grupos Personalizado: Configuración de Equipos</h2>
            <p class="subtitle">La Fase de Grupo Personalizada ofrece una experiencia flexible y dinámica para torneos de equipo, permitiendo la participación de entre 3 y 10 equipos. Este formato se asemeja al tradicional, pero introduce una innovadora opción de personalización en el avance a la fase de eliminación directa.</p>
            <p class="subtitle">Los participantes se agrupan en una fase inicial, donde compiten en un sistema de puntos clásico. Sin embargo, a diferencia del formato estándar, los equipos que se clasifican a la fase de eliminación no están limitados a un número fijo; por ejemplo, es posible que 5 equipos avancen, permitiendo que el primer lugar pase directamente a la final, mientras que los equipos del segundo al quinto compiten en una ronda semifinal.</p>
            <p class="subtitle">Esta personalización habilita múltiples combinaciones, adaptándose así a las preferencias de los organizadores y ofreciendo un enfoque único y entretenido para cada torneo. Con la Fase de Grupo Personalizada, las posibilidades son infinitas y el juego, aún más emocionante.</p>
            
            <h3 class="title is-4">Instrucciones:</h3>
            <ol class="has-text-left">
                <li>Introduce el número total de equipos que deseas incluir en la fase de grupos. Este número debe ser mayor o igual a 3.</li>
                <li>Haz clic en "Agregar Equipos" para crear los campos donde podrás ingresar el nombre de cada equipo.</li>
                <li>Si deseas realizar cambios, puedes ajustar la cantidad de equipos y volver a crear los campos correspondientes.</li>
                <li>Por ahora, solo se podrá realizar esta configuración de 3 a 10 equipos.</li>
            </ol>
            <br>
            <h3 class="title is-4">Ejemplo:</h3>
            <p>Si ingresas "8", el sistema organizará un sorteo para 8 equipos, dividiéndolos en grupos de manera aleatoria.</p>
            <br>
            <div class="field" style="width: 40%;">
                <label class="label" for="cantidad-equipos">Cantidad de Equipos:</label>
                <div class="control">
                    <input id="cantidad-equipos" class="input" type="number" [(ngModel)]="cantidadEquipos" min="3" max="10" required>
                </div>
                @if ((cantidadEquipos < 3 || cantidadEquipos > 10) && cantidadEquipos !== null) {
                    <p class="help is-danger">
                        Debes ingresar un valor entre 3 y 10.
                    </p>
                }
                <br>
                <button class="button is-primary" (click)="agregarEquipos()" 
                [disabled]="cantidadEquipos < 3 || cantidadEquipos > 10">Agregar Equipos</button>
            </div>
    
            <div id="equipo-container">  
                @if (equipos.length > 0) {  
                    <h3 class="title is-4">Nombres de los Equipos:</h3>  
                    <div class="columns is-multiline">  
                        @for (equipo of equipos; track $index) {  
                            <div class="column is-6-tablet is-3-desktop">  
                                <label class="label">Nombre del Equipo {{ $index + 1 }}:</label>  
                                <div class="control">  
                                    <input  
                                        class="input"  
                                        type="text"  
                                        [(ngModel)]="equipos[$index]"  
                                        [attr.placeholder]="'Equipo ' + ($index + 1)"  
                                        required>  
                                </div>  
                            </div>  
                        }  
                    </div>  
                    <button class="button is-success" type="button" (click)="redirectToNextPage()">Continuar</button>  
                }  
            </div>  
        </div>
    </section>
</div>